<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" sizes="194x194" href="./img/favicon.png">
    <link rel="stylesheet" href="./css/main.css">
    
    <title>Bredi</title>
</head>
<body> 
    <section id="menu">
        <header>
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg navbar-dark">
                        <div class="container">
                            <a class="navbar-brand" href="#"><img width="100" height="auto" src="./img/logo.svg" alt=""></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Início</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Notícias</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contato</a>
                                    </li>
                                    <li class="facebook">
                                        <a target="_blank" href="https://www.facebook.com/BrediTecnologiaDigital"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="instagram">
                                        <a target="_blank" href="https://www.instagram.com/brediweb"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
    </section>
    <!-- end menu-->

    <section id="banner">
        <div class="container">
            <div class="row">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./img/banner-1.png" class="d-block w-100" alt="Banner 1">
                            <div class="carousel-caption d-none d-md-block">
                                <h5><span class="span-border"></span>OFTQUIZ</h5>
                                <p>Com ele profissionais e residentes tem acesso ao um amplo banco de dados de desafios
                                   em diversas subespecialidades de uma forma diversa. Seu desempenho pode acompanhado
                                   através de diversas métricas presentes no app.</p>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <img src="./img/banner-2.png" class="d-block w-100" alt="Banner 2">
                            <div class="carousel-caption banner-2 d-none d-md-block ">
                            </div>
                        </div>
                    </div>

                    <button class="carousel-control-prev btn" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="prev"  >
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"  data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- end banner -->

    <section id="card">
        <div class="container">
            <div class="row">
                <div class="col-md-3" data-anime="top">
                    <img src="./img/card-app.png" width="100%" height="auto" alt="App">
                    <div class="card-title">Aplicativos</div>
                    <div class="card-description">E-commerce, Games, Institucionais e Quiz.</div>
                </div>
                <div class="col-md-3" data-anime="top">
                    <img src="./img/card-site.png" width="100%" height="auto" alt="App">
                    <div class="card-title">Websites</div>
                    <div class="card-description">Institucionais, E-commerces, Blogs e Sites.</div>
                </div>
                <div class="col-md-3" data-anime="top">
                    <img src="./img/card-sistema.png" width="100%" height="auto" alt="App">
                    <div class="card-title">Sistemas online</div>
                    <div class="card-description">Sistemas online e intranet.</div>
                </div>
                <div class="col-md-3" data-anime="top">
                    <img src="./img/card-back.png" width="100%" height="auto" alt="App">
                    <div class="card-title">Back e Front-end.</div>
                    <div class="card-description">Vagas para estagiários nas áreas de Front-end e Back-end.</div>
                </div>
            </div>
            <div class="col-md-12">
                <div id="btn"><button data-anime="right">Veja mais</button></div>
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="logo-footer">
                        <img width="150" src="./img/logo.svg" alt="Logo Footer">
                    </div>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Notícias</a></li>
                        <li><a href="#">Contato</a></li>
                        <li class="facebook"><a target="_blank" href="https://www.facebook.com/BrediTecnologiaDigital"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="instagram"><a target="_blank" href="https://www.instagram.com/brediweb"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                    <address>Rua Domingos Marreiros 49, Sala 1308 Umarizal &bull; Belém-PA &bull; Brasil</address>
                    <a id="email" href="mailto:contato@bredi.com.br">contato@bredi.com.br</a>.
                </div>
            </div>
        </div>
    </footer>

    <!-- bootstrap -->
        <script src="/bootstrap/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
        <script src="./js/script.js"></script>

</body>
</html>